{% extends "base.html" %}

{% block title %}Bitacoras{% endblock title %}

{% block content %}
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <a href="" class="btn btn-primary btn-success btn-block">Bitacora recetas</a>
              <a href="" class="btn btn-primary btn-success btn-block">Bitacora pacientes</a>
              <a href="" class="btn btn-primary btn-success btn-block">Bitacora citas</a>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}