{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Crear medico nuevo{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-3"></div>
			<div class="card col-6 my-4">
				<div class="card-header" style="background-color: #007fba; font-size: 18px;">
					<p class="text-center font-weight-bold" style="color: #fff;">Registrar Servicio nuevo</p>
				</div>
				<div class="card-body">
					<form class="" action="" method="post">
  						{% csrf_token %}
  						{{ form|crispy }}
						<div class="form-group">
							<button class="btn btn-dark" type="submit ">Guardar Cambios</button>
							<a  href="{% url 'Medicos:Seccion_Director' %}" class="btn btn-light" type="submit ">Cancelar</a>
						</div>
					</form>
				</div>
			</div>
	</div>
</div>
{% endblock content %}