{% extends "base.html" %}

{% block title %}Administrar Medicos{% endblock title %}

{% block content %}
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <a href="{% url 'Medicos:Crear_Servicio' %}" class="btn btn-primary btn-user btn-block">Añadir servicio nuevo</a>
              <a href="{% url 'Medicos:Medico_Registrar' %}" class="btn btn-primary btn-user btn-block">Añadir medico nuevo</a>
              <a href="{% url 'paginas:home' %}" class="btn btn-primary btn-user btn-block">Actualizar medico</a>
              <a href="{% url 'paginas:home' %}" class="btn btn-danger btn-user btn-block">Eliminar medico existente</a>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}