{% extends "base.html" %}

{% block title %}Editar Medico{% endblock title %}

{% block content %}
<table class="table table-striped">
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Entrada</th>
    <th>Salida</th>
    <th>Dias que atiende</th>
    <th></th>
    {% for listmedicos in object_list %}
      <tr>
          <td>{{ listmedicos.nombre }}</td>
          <td>{{ listmedicos.apellido_p }}</td>
          <td>{{ listmedicos.entrada }}</td>
          <td>{{ listmedicos.salida }}</td>
          <td>{{ listmedicos.dias_de_trabajo }}</td>
          <td>
              <a href="{% url 'Medicos:DUpdate_Medico' listmedicos.id %}"><button type="button" id="btnEditar" class="btn btn-success btn-circle"><i class="fas fa-pen fa-sm"></i></button></a>
              <a href="{% url 'Medicos:Eliminar_Medico' listmedicos.id %}"><button type="button" name="button" id="btnEliminar" class="btn btn-danger btn-circle"><i class="fas fa-trash fa-sm"></i></button></a>
          </td>
    </tr>
    {% endfor %}

</table>
<a  href="{% url 'Medicos:Seccion_Director' %}" class="btn btn-dark" style="float: right;" type="submit">Regresar</a>

{% endblock content %}