{% extends "base.html" %}

{% block title %} Home {% endblock title %}
{% block content %}
<div class="row">
	<div class="col">
		<div class="jumbotron jumbotron-fluid bg-jumbotron" style="">
			<div class="container ">
				<h1 class=" fnt-color display-4">Consultorio galgos</h1>
				<p class="lead fnt-color"> La mejor atencion al alcance de tus manos</p>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="card">
					<img src="static/img/medico-con-paciente.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Calidad</h5>
						<p class="card-text"> Atencion a nuestros pacientes de manera debida.</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="static/img/manos-medico.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Privacidad</h5>
						<p class="card-text"> Protegemos la identidad de nuestros pacientes al igual que sus situaciones.</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="static/img/medico-paciente.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Diagnosticos certeros</h5>
						<p class="card-text">  Contamos con tecnologia de calidad y medicos capacitados para atender a los pacientes.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row py-4">
			<div class="col-4">
				<div class="card">
					<img src="img/index3.jpg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Comentarios</h5>
						<p class="card-text"> Deja un comentario a cualquier libro que te ayudara a realizar tu tarea</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="img/index5.jpg'" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Variedad</h5>
						<p class="card-text"> Encuentra ese libro que estas buscando para realizar una tarea dentro de nuestra coleccion de libros</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="img/index4.jpg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Ama</h5>
						<p class="card-text"> Cuida los libros, el conocmiento es poder</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock content %}
