{% extends "base.html" %}

{% block title %} Home {% endblock title %}
{% block content %}
<div class="row">
	<div class="col">
		<div class="jumbotron jumbotron-fluid bg-jumbotron" style="">
			<div class="container ">
				<h1 class=" fnt-color display-4" >Consultorio galgos</h1>
				<p class="lead fnt-color"> La mejor atencion al alcance de tus manos</p>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="card">
					<img src="static/img/medico-con-paciente.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Calidad</h5>
						<p class="card-text"> Atencion a nuestros pacientes de manera debida.</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="static/img/manos-medico.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Privacidad</h5>
						<p class="card-text"> Protegemos la identidad de nuestros pacientes al igual que sus situaciones.</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="static/img/medico-paciente.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Diagnosticos certeros</h5>
						<p class="card-text">  Contamos con tecnologia de calidad y medicos capacitados para atender a los pacientes.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row py-4">
			<div class="col-4">
				<div class="card">
					<img src="static/img/medico-con-mujer.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Equidad</h5>
						<p class="card-text"> Cada paciente y familiar reciben un trato digno y oportuno, priorizando la atención médica de acuerdo con sus condiciones de salud y sus necesidades.</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="static/img/medicos-y-pacientes.png" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Humanismo</h5>
						<p class="card-text"> Conducimos en la relación con los pacientes y familiares respetando siempre su dignidad, sus derechos y valor como personas.</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="static/img/paciente-coronavirus.jpeg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">Responsabilidad</h5>
						<p class="card-text"> Asumimos a cabalidad los deberes de las funciones que se tienen asignadas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock content %}
