{% extends "base.html" %}

{% block title %} Información {% endblock title %}
{% block content %}
<div>
    <h2 style="white-space:pre-wrap;text-align:center;">
        <strong>Información</strong>
    </h2>
</div>
<div class="row">
	<div class="col">
        <img src="static/img/mapa.png" style="margin-left: 50px;">
    </div>
    <div class="col">
        <strong>Consultorio Galgos</strong>
        <a href="https://www.google.com.mx/maps/place/Instituto+Tecnol%C3%B3gico+de+Tijuana/@32.5289987,-116.9871915,18z/data=!4m5!3m4!1s0x80d94875c00b2a3d:0x281526cf22a3e2cc!8m2!3d32.5290532!4d-116.9872002">
            <p>Av Castillo de Chapultepec 562,
            Tomas Aquino, 22414 Tijuana, B.C.</p></a>
        <strong>Horario General</strong>
        <p>Lunes - Viernes: 8:00AM 8:00PM</p>
        <p>Sábado: 10:00AM 6:00PM</p>
        <p>Domingo: Solo se atiende a personas con cita</p>
        <strong>Teléfono</strong>
        <p>(664) 607 8400</p>
        <strong>Pagina Alternativa</strong>
        <a href="https://www.tijuana.tecnm.mx/">
            <p>Consultorios TEC</p></a>
        <a href="https://es-la.facebook.com/TecNMTijuana/">
            <p>Facebook</p></a>
    </div>
</div>
{% endblock content %}