{% extends "base.html" %}

{% block title %}Medicos{% endblock title %}

{% block content %}
<table class="table table-striped">
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Servicio</th>
    <th>Entrada</th>
    <th>Salida</th>
    <th>Dias que atiende</th>
    {% for listmedicos in object_list %}
      <tr>
          <td>{{ listmedicos.nombre }}</td>
          <td>{{ listmedicos.apellido_p }} {{ listmedicos.apellido_m }}</td>
          <td>{{ listmedicos.servicio }}</td>
          <td>{{ listmedicos.entrada }}</td>
          <td>{{ listmedicos.salida }}</td>
          <td>{{ listmedicos.dias_de_trabajo }}</td>
      </tr>
    {% endfor %}
</table>

{% endblock content %}