{% extends "base.html" %}

{% block title %}Servicios{% endblock title %}

{% block content %}
<table class="table table-striped">
    <th>Medico Atendiendo</th>
    <th></th>
    <th></th>
    <th>Servicio</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Costo</th>
    {% for listmedicos in object_list %}
      <tr>
          <td>{{ listmedicos.nombre }} {{ listmedicos.apellido_p }} {{ listmedicos.apellido_m }}</td>
          <td></td>
          <td></td>
          <td>{{ listmedicos.servicio }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Costos consultables en recepcion o por telefono</td>
      </tr>
    {% endfor %}
</table>

{% endblock content %}